TestApp/XMLFile3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Interfaces">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Interface">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="InterfaceCode" type="xs:unsignedShort" />
              <xs:element name="AccessID" type="xs:string" />
              <xs:element name="Password" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>